html{
    overflow-x:auto;
    min-width: 1300px;
}
body{
    background-color: #f8f6ee;
    min-width: 1300px;
    margin: 0;
}
.full--header{
    position: sticky;
    top: 0;
    display:flex;
    justify-content: space-between;
    height: auto;
    /* border: 1px solid #d7c0a1; */
    background-color: #fdfbf3;
    font-family: 'Monda', sans-serif;
    color:#85837b;
    /* border-radius: 10px; */
    margin: 0;
    padding: 4px;
}
.name--header{
    font-size: 27px;
    margin: 10px 10px;
    margin-left: 20px;
    padding: 4px;
    float: left;
}
.name--header a{
    font-size: 18px;
}
.interactive--header{
    display: flex;
    margin-right: 10px;
    font-size: 18px;
    margin: 10px 10px;
    padding: 4px;
    padding-top: 10px;
}
.interactive--tab{
    margin: 0 10px;
}
.interactive--tab a{
    color: #c1abad;
    text-decoration: none;
}
.self--introduction{
    margin-top: 130px;
    display: flex;
    height: auto;
    margin-left: 20%;
    margin-bottom: 100px;
}
.circular--protrait{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
}
.circular--protrait img{
    width:100%;
    height: auto;
    margin-top: -70px;
}
.introduction{
    font-family: 'Monda', sans-serif;
    color:#916848;
    margin-left: 20px;
    width: 450px;
}
.intro--header{
    font-size: 60px;
    font-weight: bold;

}
.intro--subheader{
    margin-top: 15px;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
}
.intro--paragraph{
    margin-top: 10px;
    font-size: 15px;
    line-height: 25px;
    padding: 10px;
}
.intro--subheader a{
    background-color: #cab8b9;
}
#breakline{
    size: 1;
    width: 97%;
}
.full--footer{
    display:flex;
    justify-content: space-between;
    height: auto;
    font-family: 'Monda', sans-serif;
    color:#663a44;
    margin: 10px 30px;
    padding: 4px;
}
.footer{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 20px;
    width: 25%;
}
.footer a{
    font-size: 13px;
    font-weight:normal;
    color:#663a44;
}
.credit{
    font-size: 13px;
    margin-right: 30px;
    margin-top: 50px;
}
.somethinghere{
    font-family: 'Monda', sans-serif;
    height: 600px;
    color:#663a44;
    font-size: 18px;
    padding: 10px;
}
img#insta{
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.8;
}